###> tapomix/php-starter-kit ###

# ide #
/.idea
/.vscode

# dev #
/TODO.md
*.patch
*.drawio

.castor.stub.php
/.castor/app.php

/.devcontainer
/.env.docker

# libs
/vendor
/node_modules

# qa #
/rector.php
/phpstan.neon

# laravel #
/.env

/public/storage
/public/build
/storage

/_ide_helper*.php

/database/*.sqlite

###< tapomix/php-starter-kit ###
